<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='https://images-na.ssl-images-amazon.com/images/I/71-lsYRmNAL.css?AUIClients/AudibleBrickCitySkin#debug-true' />
    </head>
    <body class="bc-container bc-spacing-top-large">
        <h1 class="bc-spacing-base"><%= title %></h1>

        <% if (enabled) { %>
            enabled! <%= key %>
        <% } %>
    </body>
</html>
