<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='https://images-na.ssl-images-amazon.com/images/I/71-lsYRmNAL.css?AUIClients/AudibleBrickCitySkin#debug-true' />
        <style>
            button {
                color: white;
                font-weight: bold;
                background-color: green;
                border-radius: 3px;
                padding: 13px;
                border-style: none;
                box-shadow: 0 4px 0 darkgreen;
                outline: none;
            }
            button:active {
                background-color: darkgreen;
            }
            #bad {
                position: absolute;
                left: 86px;
                top: -358px;
                opacity: 0;
            }
        </style>
    </head>
    <body class="bc-container bc-spacing-top-large">
        <h1 class="bc-spacing-base">X-Frame-Options</h1>

        <div class="bc-row">
            <div class="bc-col bc-col-6">
                <h2 class="bc-spacing-small">Good</h2>
                <iframe width="100%" height="400px" src="https://www.audible.com"></iframe>
            </div>
            <div class="bc-col bc-col-6 bc-col-last bc-pub-relative">
                <h2 class="bc-spacing-small">Bad</h2>
                <iframe width="100%" height="400px" src="http://www.estories.com"></iframe>
            </div>
        </div>

        <div class="bc-spacing-top-extra-large">
            <button>Click here to claim your $1000!!!</button>
            <iframe id="bad" width="300px" height="1100px" src="http://estories.com/howItWorks"></iframe>
        </div>
    </body>
</html>
